@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,400;1,500&family=Work+Sans:wght@500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding: 20px 230px;
}

.header-container {
    background-image: url(images/Group\ 14.png);
}

.icon-gamer {
    width: 86.041px;
    height: 40px;

}

.gamer {
    text-align: center;
    font-size: 45px;
    font-weight: 700;


}

.color {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-download {
    display: flex;
    font-size: 25px;
}


.btn-primary {
    color: #3C354F;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);


}

.primary {
    display: flex;
    text-align: center;
}

.youtube {
    width: 33.916px;
    height: 24px;
}

.tik-tok {
    width: 24px;
    height: 24px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav ul li {
    margin-top: 10px;
    font-size: 25px;
}

nav li {
    list-style: none;
    margin-right: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}


.h2 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;

}

.banner-titles {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;

}

.banner-title {
    font-size: 95px;
    font-weight: 800;
}

.sing {
    display: inline-flex;
    color: #FFF;
    padding: 21px 40px;
    align-items: flex-start;
    font-size: 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}

.rogue {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;

}

.section-img {
    width: 100%;
    height: 100%;
}

/* main section style */

.main-contant {
    display: flex;
    justify-content: space-between;
    padding: 20px 230px;

}

.gamer-contant {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.main-game {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purpose {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

/* online games style */

.online-games {
    text-align: center;
}

.contant-day {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.container-img {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 10px;
}

.games-card {
    width: 90%;
}

.contant-games {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    color: #F948B2, #8758F1;
}


/* play section style */

.play-contant {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.anniversary-contant {
    padding: 60px 230px;
    align-items: center;
    margin-bottom: -300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.play-section {
    text-align: center;
    margin-bottom: 320px;
    margin-right: 50px;
}

.play-game {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.my-talking {
    border-radius: 8px;
    position: relative;
    bottom: 300px;
    margin-left: 100px;
}

.discription {
    height: 90%;
    margin-left: 280px;

}

/* games hover */

.section-games {
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 20px;
    margin-bottom: 100px;
}

.games-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
    padding: 20px 230px;
    margin-bottom: 200px;



}

.games-title {
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.games-title:hover {
    border: 1px solid tomato;
    border-radius: 50px;
    background: #FFF;
}


/* footer style */


.footer-title {
    text-align: center;
    background: #0B0223;
    padding-top: 30px;
}

.footer-icon {
    text-align: center;
}

.footer-text {
    color: #FFF;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;
    font-size: 18px;
    font-weight: 600;
}

.image-icon {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.img-icon {
    width: 40px;
    height: 40px;

}

.footer-game {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-weight: 700;


}

.footer-terms {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    gap: 60px;
}

.footer-play {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 230px;

}












@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .banner {
        flex-direction: column;
    }

}